.money-summary-wrapper {
    display: flex;
    gap: 1.5rem;
}

.money-description {
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 1.5%;
    width: 25%;
    border-radius: 15px;
    background-color: #F7D08A46;
}

.owe {
    color: #C1420B;
}

.owed {
    color: #AAC31D;
}

.monthly-expenditure {
    background-color: #87B6A728;
    border-radius: 15px;
    padding: 1.5%;
    width: 20%;
}

.monthly-expenditure-title {
    font-size: 1.2rem;
    color: gray;
}

.monthly-expenditure-amount {
    font-size: 2rem;
}

.heading2 {
    color: #0C0C08;
    margin-top: 2%;
    font-size: 3rem;
}

.transactions-details {
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
}

.transaction {
    border-radius: 20px;
    padding: 2%;
    padding-left: 7%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 7fr 3fr;

}

.good {
    background-color: #DDEC83;
}

.bad {
    background-color: #F9AE8B;
}

.name-in-transaction {
    grid-row: 1 / 4;
    font-size: 3rem;
}

.owes-or-you-owe {
    grid-row: 1;
    font-size: 1rem;
}

.owes-you-amounts {
    grid-row: 2 / 4;
    font-size: 2rem;
}

.paid {
    background-color: #BEBE9D;
}