<!DOCTYPE html>

<html>

<head>
    <title>
        {{user_data[0][1] }}
    </title>
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="content">
        <div class="heading">Hey, {{ user_data[0][3] }} {{ user_data[0][4] }}<span></span>.</div>
        <div class="money-summary-wrapper">
            <div class="money-description">
                <div class="owe">You owe <span>₹{{ balance }}</span></div> 
                <div class="owed">You are owed <span>₹ {{ bybalance }}</span></div> 
            </div>
            <div class="monthly-expenditure">
                <div class="monthly-expenditure-title">
                    Monthly expenditure
                </div>
                <div class="monthly-expenditure-amount">
                    ₹500
                </div>
            </div>
        </div>
        <div class="heading2">
            Due transactions
        </div>
        <div class="transactions-details"> 

            {% for transaction in transactions %}
            {% if  transaction[2] == session_id %}
            {% for user in users%}
            {% if user[0]|string in transaction[4].split(",") %}
            <div class="transaction good">
                <div class="name-in-transaction">
                    {{ user[1] }}
                </div>
                <div class="owes-or-you-owe">
                    owes you
                </div>
                <div class="owes-you-amounts">
                    ₹{{ transaction[5]}}
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}

        {% for transaction in transactions %}
        {% if session_id in transaction[4].split(",") %}
        <div class="transaction bad">
            <div class="name-in-transaction">
            {% for user in users%}
                {% if transaction[2]|string == user[0]|string %}
                {{ user[3] }}
                {% endif %}
            {% endfor %}
            </div>
            <div class="owes-or-you-owe">
                you owe
            </div>
            <div class="owes-you-amounts">
                ₹{{ transaction[5]}}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        </div>
        <div class="heading2">
            Transaction history
        </div>
        {%for transaction in transactions %}
        {% if transaction[3] and session_id in transaction[3].split(",") %}
        <div class="transactions-details"> 
            <div class="transaction paid">
                <div class="name-in-transaction">
                    {% for user in users%}
                    {% if transaction[2]|string == user[0]|string %}
                    {{ user[3] }}
                    {% endif %}
                {% endfor %}
                </div>
                <div class="owes-or-you-owe">
                    you owe
                </div>
                <div class="owes-you-amounts">
                    ₹{{transaction[5]}}
                </div>
            </div>
        {% endif %}
            {% endfor %}
        </div>
    </div>
</body>