<!DOCTYPE html>

<html>

<head>
    <title>
        {{ data[0][1] }}
    </title>
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <link rel="stylesheet" href="../static/css/group.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="content">
        <div class="heading"> {{ data[0][1] }}</div>
        <div class="people-involved">
            People involved: <span style="color: #74AA99;">{{ length }}</span>
        </div>
        <div class="transactions-details-wrapper">
            <div class="group transaction-details transaction-details-borrow">
                <div class="icon">
                    <i class="fa-solid fa-scale-unbalanced-flip"></i>
                </div>
                <div class="group-name">You are owed</div>
                <div class="">₹{{ bybalance }}</div>
            </div>
            <div class="group transaction-details transaction-details-lend">
                <div class="icon">
                    <i class="fa-solid fa-scale-unbalanced"></i>
                </div>
                <div class="group-name">You owe</div>
                <div class="amount">₹{{balance}}</div>
            </div>
            <a class="add-button" href="/add_transaction/{{ data[0][0] }}">
                <button class="button">
                    <div class="plus-symbol">+</div>
                    <div>Add transaction</div>
                </button>
            </a>
        </div>
        <div class="transactions-wrapper">
            <!-- <div>Hello</div> -->
            <div class="transactions">
                {% for transaction in transactions%}
                <a class="transaction" style="background-color: #D28D0F95;" href="/get_transaction/{{ data[0][0] }}/{{ transaction[0] }}">
                    <div class="transaction-name">
                        {{transaction[8]}}
                    </div>
                    <div class="transaction-amount">
                        ₹{{ transaction[5]}}
                    </div>
                </a>
                {% endfor %}
            </div>
            <div class="specific-transaction-details">
                {% if part_transaction %}
                <div style="background-color: #FFFFFF00; font-size: 3rem;">
                    <span class="transaction-name">
                        {{ part_transaction[0][8] }}
                    </span>
                    |
                    <span class="transaction-payee">
                    {% for main_user in users %}
                        {% if (main_user[0]|string == part_transaction[0][2]) %}
                            {{ main_user[1] }}
                        {% endif %}

                    {% endfor %}
                    </span>
                </div>
                <div>
                    {{ part_transaction[0][7] }} ,&nbsp; {{ part_transaction[0][6] }}
                </div>
                <div class="specific-transaction-content">
                    {% for main_user in users %}
                        {% if part_transaction[0][3] and (main_user[0]|string in part_transaction[0][3].split(',')) %}
                            <div class="member-name-paid">
                                {{ main_user[1] }}
                            </div>
                        {% endif %}
                        {% if part_transaction[0][4] and (main_user[0]|string in part_transaction[0][4].split(',')) %}
                            <div class="member-name-due">
                                {{ main_user[1] }}
                            </div>
                        {% endif %}

                    {% endfor %}
                        <div class="total-due-wrapper">
                        <div class="total-due">
                            <div class="amount-in-rupees">
                                ₹{{ part_transaction[0][9] }}
                            </div>
                            for each
                            <div class="is-due-text">
                                is due
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                    <div style="font-size: 1.5rem;">
                        Click on a transaction to obtain more information
                    </div>
                {% endif %}
            </div>
            <div class="members-wrapper">
                <div class="members-heading">
                    <div class="members-title">
                        Members in Group
                    </div>
                    <div class="members-plus">
                        <a class="button" href="/add_member/{{ data[0][0] }}">
                            +
                        </a>
                    </div>
                </div>
                <div class="names-of-members-wrapper">
                    {% for user in data[0][2].split(",") %}
                    {% for main_user in users %}
                    {% if main_user[0]|string == user %}
                    <div class="member-details">
                        <div class="member-photo">
                            <img src="../static/{{main_user[5]}}" alt="image">
                        </div>
                        <div class="member-name">
                            {{ main_user[3] }}&nbsp;&nbsp;{{ main_user[4] }}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>