<!DOCTYPE html>

<html>

<head>
    <title>
        Group Name
    </title>
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <link rel="stylesheet" href="../static/css/group.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    
    <div class="content">
        <div class="heading">Rent</div>
        <div class="people-involved">
            People involved: <span style="color: #74AA99;">12</span>
        </div>
        <div class="transactions-details-wrapper">
            <div class="group transaction-details transaction-details-borrow">
                <div class="icon">
                    X
                </div>
                <div class="group-name">You are owed</div>
                <div class="">₹400</div>
            </div>
            <div class="group transaction-details transaction-details-lend">
                <div class="icon">
                    X
                </div>
                <div class="group-name">You owe</div>
                <div class="amount">₹400</div>
            </div>
        </div>
        <div class="transactions-wrapper">
            <!-- <div>Hello</div> -->
            <div class="transactions">
                <div class="transaction" style="background-color: #D28D0F95;">
                    <span class="transaction-amount">
                        ₹12.33
                    </span>
                    to
                    <span class="transaction-name">
                        Ashish
                    </span>

                </div>
                <div class="transaction">
                    <span class="transaction-amount">
                        ₹42
                    </span>
                    to
                    <span class="transaction-name">
                        Raghav
                    </span>
                </div>
                <div class="transaction">
                    <span class="transaction-amount">
                        ₹50
                    </span>
                    to
                    <span class="transaction-name">
                        Aditya
                    </span>
                </div>
            </div>
            <div class="specific-transaction-details">
                <div class="transaction" style="background-color: #FFFFFF00; font-size: 3rem;">
                    <span class="transaction-amount">
                        ₹50
                    </span>
                    to
                    <span class="transaction-name">
                        Aditya
                    </span>
                </div>
                <div class="specific-transaction-content">
                    <div class="member-name-paid">
                        Raghav
                    </div>
                    <div class="member-name-due">
                        Anushka
                    </div>
                    <div class="member-name-due">
                        Abhinav
                    </div>
                    <div class="member-name-paid">
                        Sakshi
                    </div>
                    <div class="total-due-wrapper">
                        <div class="total-due">
                            <div class="amount-in-rupees">
                                ₹500
                            </div>
                            <div class="is-due-text">
                                is due
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>