
<div class="topnav">
    <a href="/">logo.</a>
    <div class="topnav-right">
        <a href="/logout">logout</a>
        <!-- <a href="#about">About</a> -->
    </div>
</div>
<div class="sidenav">
    <div>logo</div>
    <a class="navbar-button" href="/">Dashboard</a>
    <hr style="margin-bottom: 5%;margin-top: 5%">
    {% for group in groups %}
    <a class="navbar-button group" href="/get_group/{{ group[0] }}">
        <div class="icon"></div>
        <div class="group-name">{{ group[1]}}</div>
        <div class="debt-credit">
            <span class="debt">₹500</span><span class="credit">₹1000</span>
        </div>
    </a>
    {% endfor %}
    </div>
    {{ file }}
{% include file %}