<div class="topnav">
            <!-- <a href="#home">
                <img class="logo1" src="src/static/images/logo1.png">
            </a> -->
            <a class="heading" href="/">logo.</a>
            <div class="topnav-right">
                <a href="/logout">logout</a>
            </div>
</div>
<div class="sidenav">
    <a href="/">
        <div class="add-group navbar-button">
            <div class="icon">
                <i class="fa-solid fa-gauge"></i>
            </div>
            <div>
                Dashboard
            </div>
        </div>
    </a>
    <a href="/settings">
        <div class="add-group navbar-button">
            <div class="icon">
                <i class="fa-solid fa-gears"></i>
            </div>
            <div>
                Settings
            </div>
        </div>
    </a>
    <hr style="margin-bottom: 5%;margin-top: 5%">
    <a href="/add_group">
        <div class="add-group navbar-button">
            <div class="icon">
                +
            </div>
            <div>
                Add group
            </div>
        </div>
    </a>
    {% for group in groups %}
    <a class="navbar-button group" href="/get_group/{{ group[0] }}">
        <div class="icon"><i class="fa-solid fa-wallet"></i></div>
        <div class="group-name">{{ group[1]}}</div>
        <div class="debt-credit">
            <span class="debt">₹500</span><span class="credit">₹1000</span>
        </div>
    </a>
    {% endfor %}
</div>
{{ file }}
{% include file %}
<script src="https://kit.fontawesome.com/ca1ab3711f.js" crossorigin="anonymous"></script>