
<div class="topnav">
    <a href="#home">logo.</a>
    <div class="topnav-right">
        <a href="#logout">logout</a>
        <!-- <a href="#about">About</a> -->
    </div>
</div>
<div class="sidenav">

<div class="sidenav">
    <div>logo</div>
    <div class="navbar-button">Dashboard</div>
    <hr style="margin-bottom: 5%;margin-top: 5%">
    <div class="navbar-button group">
        <div class="icon">X</div>
        <div class="group-name">Food</div>
        <div class="debt-credit">
            <span class="debt">₹500</span><span class="credit">₹1000</span>
        </div>
    </div>
    <div class="navbar-button group" style="background-color: #bab9b9;">
        <div class="icon">X</div>
        <div class="group-name">Rent</div>
        <div class="debt-credit">
            <span class="debt">₹500</span><span class="credit">₹1000</span>
        </div>
    </div>
    <div class="navbar-button group">
        <div class="icon">X</div>
        <div class="group-name">Taxi</div>
        <div class="debt-credit">
            <span class="debt">₹500</span><span class="credit">₹1000</span>
        </div>
    </div>
    <div class="navbar-button group">
        <div class="icon">X</div>
        <div class="group-name">Tantra</div>
        <div class="debt-credit">
            <span class="debt">₹500</span><span class="credit">₹1000</span>
        </div>
    </div>
</div>
{% include "group.html" %}